<!doctype html>
<html lang=en>
<head>
	<title>Weathery</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="content">
		<header>
			<h1>Weathery</h1>
		</header>
		<%= yield %>
	</div>
</body>
</html>